<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 color-text">
            <p class="font-weight-light text-white ">Networks</p>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 container-icons-networking">
                    <a (click)="openFacebook()"><img class="icons-networking" src="/assets/icons/facebook.svg" alt="" ></a> 
                    <a (click)="openInstagram()"><img class="icons-networking" src="/assets/icons/instagram.svg" alt="" ></a>
                    <a (click)="openTwitter()"><img class="icons-networking" src="/assets/icons/twitter.svg" alt=""></a>
                    <a (click)="openYoutube()"><img class="icons-networking" src="/assets/icons/youtube.svg" alt="" ></a>
            </div>
        </div>
    </div>
</div>
